.order-item {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 1.5rem;
  width: 50vw;
  background-color: var(--pink);
  border: var(--border-style);
  border-radius: 0.5rem;
}

.order-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 0.25rem;
}

.order-section h3 {
  color: var(--purple);
  text-align: center;
  font-size: 0.75rem;
}

.order-section h4 {
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--grey);
  text-align: center;
}

.order-section a {
  text-decoration: underline;
  text-align: center;
  font-size: 0.8rem;
}
