.username,
.password {
  height: 1rem;
  border-radius: 0.25rem;
  border: var(--border-style);
  font-size: 1rem;
  padding: 0.75rem;
  box-sizing: border-box;
}

.username {
  width: 15rem;
}

.password-wrapper {
  display: flex;
  gap: 0.25rem;
  width: 15rem;
}

.password {
  width: 100%;
}

.show-password-button {
  background-color: var(--purple);
  box-sizing: border-box;
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  border-radius: 50%;
  align-self: center;
  font-size: 1rem;
  color: var(--pink);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.show-password-button:active {
  background-color: var(--purple-placeholder);
  box-shadow: 0 0 10px black inset;
}

.login-submit-button {
  margin-top: 1rem;
  padding: 0.5rem;
  color: var(--pink);
  background-color: var(--purple);
  border-radius: 0.5rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-size: 0.75rem;
  width: 50%;
  justify-self: center;
  box-sizing: border-box;
}

.login-submit-button:hover {
  background-color: var(--pink);
  border: 2px solid var(--purple);
  color: var(--purple);
}

.login-submit-button:active {
  padding: 0.4rem;
}

.register-button {
  color: var(--purple);
  background: none;
  border: none;
  font-weight: bold;
  font-size: 0.75rem;
  text-decoration: underline;
  width: 25%;
  justify-self: center;
}

.register-button:hover {
  cursor: pointer;
  text-decoration: none;
  color: var(--grey);
}

.error-message {
  color: red;
  font-size: 0.75rem;
}
