.profile-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: var(--pink);
  border: var(--border-style);
  border-radius: 0.5rem;
  padding: 2.5rem;
}

.profile-container h2 {
  text-align: center;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 1.75rem;
  color: var(--pink);
  background-color: var(--purple);
  border-radius: 0.5rem;
}

.profile-form {
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  width: fit-content;
  gap: 1rem;
}


.profile-form .label,
.profile-form label {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: bold;
  text-wrap: nowrap;
}

.profile-form h4 {
  font-size: 1rem;
  font-weight: 400;
  padding-block: 1px;
  box-sizing: border-box;
  width: 25vw;
  display: flex;
  justify-content: space-between;
}

.profile-form input {
  height: 1rem;
  border-radius: 0.25rem;
  border: var(--border-style);
  font-size: 1rem;
  padding: 0.75rem;
  box-sizing: border-box;
  width: 15rem;
}

.field {
  display: flex;
  width: 30vw;
  justify-content: space-between;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile-form button {
  margin-top: 1rem;
  padding: 0.5rem;
  color: var(--pink);
  background-color: var(--purple);
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.75rem;
  width: 25%;
  justify-self: center;
  align-self: center;
}

.profile-form button:hover {
  background-color: var(--pink);
  border: 2px solid var(--purple);
  color: var(--purple);
}

.profile-form button:active {
  padding: 0.4rem;
}

.profile-form a {
  cursor: pointer;
  text-decoration: underline;
  font-size: 1rem;
  color: rgb(60, 60, 60);
}