.change-password-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

#oldPassword,
#newPassword,
#newPassword2 {
  height: 1rem;
  border-radius: 0.25rem;
  border: var(--border-style);
  font-size: 1rem;
  padding: 0.75rem;
  box-sizing: border-box;
  width: clamp(10rem, 25vw, 30rem);
}

.change-password-form label {
  font-size: 1rem;
  font-weight: bold;
  color: var(--purple);
}

.password-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.password-button-container button {
  margin-top: 1rem;
  padding: 0.5rem;
  color: var(--pink);
  background-color: var(--purple);
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.75rem;
  width: clamp(10rem, 15vw, 15rem);
  justify-self: center;
  align-self: center;
}

.password-button-container button:hover {
  background-color: var(--pink);
  border: 2px solid var(--purple);
  color: var(--purple);
}
