.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: fit-content;
  padding: 1rem;
  background-color: var(--purple);
  color: var(--pink);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.footer .disclaimer {
  color: red;
  font-size: 0.75rem;
  font-weight: 400;
  padding: 0.25rem;
  background-color: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
  margin-bottom: 0.25rem;
  border-radius: 0.25rem;
}

.footer p {
  font-size: 0.75rem;
  padding-top: 0.25rem;
  text-align: center;
}

.footer a {
  color: white;
  text-decoration: underline;
}

.footer a:hover {
  text-decoration: none;
  color: var(--purple-placeholder);
}

.footer .disclaimer-link {
  color: var(--purple);
}
